.about {
  min-height: 100vh;
  background: #060011;
  padding: 4rem 2rem;
  color: #fff;
    display: flex;
  align-items: center;
    align-items: center;
}

.about_container {
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 40px;
  flex-wrap: wrap;
}

.about_info {
  flex: 1;
  min-width: 280px;
}

.about_info h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.about_info p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}


.about_buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn_primary {
  padding: 0.6rem 1.2rem;
  background: #5516BE;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.btn_primary:hover {
  background: #5a2493;
  transform: scale(1.05);
}

.btn_secondary {
  padding: 0.6rem 1.2rem;
  border: 1px solid #5516BE;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.btn_secondary:hover {
  background: #5516BE;
}

.about_img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about_img img {
  width: 250px;
  border-radius: 50%;
  border: 3px solid #7d7676;
}


@media (max-width: 768px) {
  .about_container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about_buttons {
    justify-content: center;
  }
}