.skills {
    min-height: 100vh;
  background: #0f0a1f;
  padding: 4rem 2rem;
  color: #fff;
  text-align: center;
}

.skills h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}


.skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}


.skill_card {
  background: #060011;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: default;
}


.skill_card span {
  font-size: 0.9rem;
}


.skill_card:hover {
  border: 1px solid #5516BE;
  transform: translateY(-5px);
}